@import 'setup';

$blue: #98DDCA;
$darkgreen: #58531D;
$lightgreen: #8A792E;
$headerfont: 'Oswald', sans-serif;
$bodyfont: 'Quicksand', sans-serif;

@mixin fontSize($number) {
	font-size: $number * 1px;
	font-size: ($number / 10) * 1rem;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Oswald', sans-serif;
	@include fontSize(12);
	
}

.outerContainer {
	max-width: 1080px;
	margin: 0 auto;
}

.innerContainer {
	max-width: 980px;
	margin: 0 auto;
}

img.axe {
	width: 7%;
	position: relative;
	left: -495px;
	top: 20px;
}

header {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	text-align: center;
	
	// color: white;


		h2 {
			@include fontSize(34);
			margin: 0;
		}

		p {
			width: 600px;
			margin: 0 auto;	
			padding: 20px 20px 40px 20px;
			font-family: $bodyfont;
			@include fontSize(14);
		}

		label {
			position: relative;
    		bottom: 10px;
    		@include fontSize(14);
		}
}

h1 {
	font-family: $headerfont;
	@include fontSize(52);
	letter-spacing: 5px;
	text-transform: uppercase;
	padding-top: 100px;
	margin: 0;
}

main {
	display: none;
}

// #venues {
// 	display: flex;
// 	flex-direction: row;
// 	justify-content: center; 
// }

.text h2 {
	@include fontSize(24);
	position: relative;
	left: -25px;
}

.arrow:before {
   font-family: FontAwesome;
   content: "\f124";
   font-size: 1em;
}

.star:before {
   font-family: FontAwesome;
   content: "\f005";
   font-size: 1em;
}

.check:before {
   font-family: FontAwesome;
   content: "\f00c";
   font-size: 1em;
}

.user:before {
   font-family: FontAwesome;
   content: "\f007";
   font-size: 1em;
}

.site:before {
   font-family: FontAwesome;
   content: "\f061";
   font-size: 1em;
}
// This is the parent container of the answer section

div.text {
	margin: 20px;
}

// these are the individual divs inside

.text div {
	float: left;
	background: #98DDCA;
	width: 28%;
	margin: 45px 6px 45px 47px;
	padding: 15px 30px 10px 65px;
}

.text h3 {
	padding: 5px 0;
	position: relative;
    left: -25px;
}

// // ICONS

// .fa-location-arrow {
// 	position: absolute;
// 	left: 0;
// }

// .fa-location-arrow.first {
// 	left: 102px;
//     top: 885px;
// }

// .fa-location-arrow.second {
// 	left: 500px;
// 	top: 885px;
// }

// .fa-location-arrow.third {
// 	left: 900px;
//     top: 885px;

// }

// // Star Icon

// .fa-star.first {
// 	position: absolute;
// 	left: 102px;
//     top: 930px;
// }

// .fa-star.second {
// 	position: absolute;
// 	left: 500px;
// 	top: 930px;
// }

// .fa-star.third {
// 	position: absolute;
// 	left: 900px;
//     top: 930px;
// }

// // checkmark icon

// .fa-check.first {
// 	position: absolute;
// 	left: 102px;
//     top: 975px;
// }

// .fa-check.second {
// 	position: absolute;
// 	left: 500px;
// 	top: 975px;
// }

// .fa-check.third {
// 	position: absolute;
// 	left: 900px;
//     top: 975px;
// }

// //person icon

// .fa-user.first {
// 	position: absolute;
// 	left: 102px;
//     top: 1020px;
// }

// .fa-user.second {
// 	position: absolute;
// 	left: 500px;
// 	top: 1020px;
// }

// .fa-user.third {
// 	position: absolute;
// 	left: 900px;
//     top: 1020px;
// }

// // arrow icon

// .fa-arrow-right.first {
// 	position: absolute;
// 	left: 102px;
//     top: 1065px;
// }

// .fa-arrow-right.second {
// 	position: absolute;
// 	left: 500px;
// 	top: 1065px;
// }

// .fa-arrow-right.third {
// 	position: absolute;
// 	left: 900px;
//     top: 1065px;
// }

.text h2 {
	   font-size: 2.2rem;
	   height: 55px;
}

.text a {
	text-decoration: none;
	color: silver;
	@include fontSize(16);
}

.map { 
	height: 70vh;
	margin: 5% 5% 5% 5%;
	clear: both;
}

footer {
	background: rgba(255,255,255,0.6);

	p {
		padding: 20px 0 10px 0;
		font-family: $bodyfont;
		text-align: center;
		font-weight: bold;
		margin: 0;
	}
}

@media (max-width: 480px) {

	#venues {
		flex-direction: column;
	}
	
}
