article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-size: 1.2rem; }

.container {
  max-width: 1080px;
  margin: 0 auto; }

img.axe {
  width: 7%;
  position: relative;
  left: -488px;
  top: 20px; }

header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center; }
  header h2 {
    font-size: 34px;
    font-size: 3.4rem;
    margin: 0; }
  header p {
    width: 600px;
    margin: 0 auto;
    padding: 20px 20px 40px 20px;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-size: 1.4rem; }
  header label {
    position: relative;
    bottom: 10px;
    font-size: 14px;
    font-size: 1.4rem; }

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 52px;
  font-size: 5.2rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-top: 100px;
  margin: 0; }

main {
  display: none; }

#venues {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

main.container {
  margin: 0 auto; }

.text {
  width: 40vh; }

.text h2 {
  font-size: 24px;
  font-size: 2.4rem; }

.text div {
  width: 100%;
  padding: 30px;
  margin-right: 10px;
  margin-bottom: 30px; }

.text h3 {
  padding: 5px 0; }

.text a {
  text-decoration: none;
  color: #58531D; }

.map {
  height: 70vh;
  width: 100vh;
<<<<<<< HEAD
=======

>>>>>>> aa9cc3d1e1eab7dc24cb594f56457e58bc33cd46
  margin: 5% 5% 5% 5%; }
