article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-size: 1.2rem; }

.outerContainer {
  max-width: 1080px;
  margin: 0 auto; }

.innerContainer {
  max-width: 980px;
  margin: 0 auto; }

img.axe {
  width: 7%;
  position: relative;
  left: -495px;
  top: 20px; }

header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 45px);
  text-align: center; }
  header h2 {
    font-size: 34px;
    font-size: 3.4rem;
    margin: 0; }
  header p {
    width: 600px;
    margin: 0 auto;
    padding: 20px 20px 40px 20px;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-size: 1.4rem; }
  header label {
    position: relative;
    bottom: 10px;
    font-size: 14px;
    font-size: 1.4rem; }

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 52px;
  font-size: 5.2rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-top: 100px;
  margin: 0; }

main {
  display: none; }

.text h2 {
  font-size: 24px;
  font-size: 2.4rem;
  position: relative;
  left: -25px; }

.arrow:before {
  font-family: FontAwesome;
  content: "\f124";
  font-size: 1em; }

.star:before {
  font-family: FontAwesome;
  content: "\f005";
  font-size: 1em; }

.check:before {
  font-family: FontAwesome;
  content: "\f00c";
  font-size: 1em; }

.user:before {
  font-family: FontAwesome;
  content: "\f007";
  font-size: 1em; }

.site:before {
  font-family: FontAwesome;
  content: "\f061";
  font-size: 1em; }

div.text {
  margin: 20px; }

.text div {
  float: left;
  background: #98DDCA;
  width: 28%;
  margin: 45px 6px 45px 47px;
  padding: 15px 30px 10px 65px; }

.text h3 {
  padding: 5px 0;
  position: relative;
  left: -25px; }

.text h2 {
  font-size: 2.2rem;
  height: 55px; }

.text a {
  text-decoration: none;
  color: silver;
  font-size: 16px;
  font-size: 1.6rem; }

.map {
  height: 70vh;
  margin: 5% 5% 5% 5%;
  clear: both; }

footer {
  background: rgba(255, 255, 255, 0.6); }
  footer p {
    padding: 20px 0 10px 0;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    font-weight: bold;
    margin: 0; }

/************ MEDIA QUERIES *************/
@media (max-width: 940px) {
  #venues {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  img.axe {
    margin-left: 23%;
    width: 85px; }
  header p {
    width: 80%;
    margin: 0 auto; }
  .text div {
    width: 80%;
    margin-left: 9%;
    text-align: center; } }

@media (max-width: 768px) {
  #venues {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  img.axe {
    margin-left: 50%;
    width: 85px; }
  header p {
    width: 80%;
    margin: 0 auto; }
  .text div {
    width: 80%;
    margin-left: 9%;
    text-align: center; } }

@media (max-width: 480px) {
  #venues {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  img.axe {
    margin-left: 145%;
    width: 85px; }
  header p {
    width: 100%;
    margin: 0 auto; }
  .text div {
    width: 80%; } }

@media (max-width: 400px) {
  img.axe {
    margin-left: 162%;
    width: 85px; } }
